@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $white;
  font-size: 16px;
}
