@import './variables';

.main-header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  padding: 50px 0;
  background-color: $primary-color;
  z-index: 2;
  transition: $transition;
  &.scrolled {
    padding: 15px 0;
  }
  .container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      text-decoration: none;
      cursor: pointer;
      img {
        max-width: 230px;
        @media screen and (max-width: $breakpoint-lg) {
          max-width: 200px;
        }
        @media screen and (max-width: $breakpoint-md) {
          max-width: 160px;
        }
      }
    }
    .main-nav {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
        li {
          a {
            position: relative;
            display: inline-block;
            cursor: pointer;
            letter-spacing: 0.3px;
            font-size: 16px;
            line-height: 30px;
            transition: $transition;
            color: $white;
            font-weight: $font-weight-light;
            letter-spacing: 1px;
            &:before {
              position: absolute;
              bottom: -6px;
              content: '';
              display: block;
              width: 0;
              height: 2px;
              background-color: $secondary-color;
              transition: width 0.3s ease-in-out;
              right: 0;
              left: auto;
            }
            &:hover,
            &.active {
              color: $tertiary-color;
              &:before {
                width: 100%;
                left: 0;
                right: auto;
              }
            }
          }
        }
      }
      .close-menu {
        display: none;
      }
      @media screen and (max-width: $breakpoint-lg) {
        position: absolute;
        right: -100%;
        top: 0;
        background-color: $primary-color;
        padding: 60px 50px 50px 30px;
        height: 100vh;
        border-left: 2px solid $white;
        z-index: 9;
        transition: $transition;
        overflow: auto;
        &.open {
          right: 0;
        }
        ul {
          flex-direction: column;
          align-items: baseline;
          gap: 40px;
          li {
            a {
              font-size: 24px;
              line-height: 40px;
              &:before {
                bottom: -10px;
                height: 4px;
              }
            }
          }
        }
        .close-menu {
          display: block;
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
          background-color: transparent;
          border: 0;
          svg {
            font-size: 2rem;
            color: $white;
          }
        }
      }
    }
    .download-resume {
      @media screen and (max-width: $breakpoint-xl) {
        display: none;
      }
    }
    .mobile-menu {
      display: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      @media screen and (max-width: $breakpoint-lg) {
        display: block;
        svg {
          font-size: 2rem;
          color: $white;
        }
      }
    }
  }
  @media screen and (max-width: $breakpoint-xl) {
    padding: 15px 0;
  }
}
