@import 'variables.scss';

.skills-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  .skills {
    padding: 20px 0;
    text-align: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    .skill-item {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1.5rem; // Space between items
      transition: transform 0.3s ease;
      white-space: nowrap; // Prevent text wrapping

      svg {
        font-size: 2rem;
        color: $white;
        transition: color 0.3s ease;

        // &.html5 {
        //   color: #e34f26;
        // }
        // &.css3 {
        //   color: #1572b6;
        // }
        // &.javascript {
        //   color: #f7df1e;
        // }
        // &.typescript {
        //   color: #3178c6;
        // }
        // &.react {
        //   color: #61dafb;
        // }
        // &.nextdotjs {
        //   color: #000000;
        // }
        // &.nodedotjs {
        //   color: #339933;
        // }
        // &.express {
        //   color: #000000;
        // }
        // &.mongodb {
        //   color: #47a248;
        // }
        // &.postgresql {
        //   color: #4169e1;
        // }
        // &.sass {
        //   color: #cc6699;
        // }
        // &.tailwindcss {
        //   color: #06b6d4;
        // }
        // &.webpack {
        //   color: #8dd6f9;
        // }
        // &.git {
        //   color: #f05032;
        // }
        // &.vercel {
        //   color: #000000;
        // }
        // &.jest {
        //   color: #c21325;
        // }
        // &.figma {
        //   color: #f24e1e;
        // }
      }

      span {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: $white;
      }

      &:hover {
        transform: scale(0.9);
      }
    }

    // Responsive adjustments
    @media (max-width: $breakpoint-md) {
      .skill-item {
        margin: 0 1rem;
        svg {
          font-size: 2rem;
        }
        span {
          font-size: 0.9rem;
        }
      }
    }
  }
}
